<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
</head>
<body>
    <h1>cadastrar Clientes</h1>

    <form action="/clientes" method="post">
        <input type="text" name="nome" placeholder="nome do clientes" required>
        <button type="submit">Salvar</button>
    </form>
    
    <h4><a href="/homeClientes">Voltar</a></h4>
</body>
</html>