<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Ingrediente</title>
</head>
<body>
    <h1>Cadastrar Ingrediente</h1>

    <form action="/ingredientes" method="post">
        <input type="text" name="nome" placeholder="Nome do ingrediente" required>
        <input type="text" name="quantidade" placeholder="Quantidade" required>
        <button type="submit">Salvar</button>
    </form>

    <h4><a href="/homeIngredientes">Voltar</a></h4>
</body>
</html>
