<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastrar Funcionário</h1>

    <form action="/funcionarios/" method="POST">
        <input type="text" name="nome" placeholder="Nome do funcionário" required>
        <input type="text" name="funcao" placeholder="Nome da função">
        <button type="submit">Salvar</button>
    </form>

    <h4><a href="/homeFuncionarios">Voltar</a></h4>
</body>
</html>