<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do cliente</title>
</head>
<body>
    <h1>Informações do cliente</h1>
    <h2>nome: {{cliente.nome}}</h2>

    <h4><a href="/homeClientes"></a></h4>
</body>
</html>