<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhar Ingrediente</title>
</head>
<body>
    <h1>Informações do Ingrediente</h1>

    <h2>nome: {{ingrediente.nome}}</h2>
    <h2>quantidade: {{ingrediente.quantidade}}</h2>

    <h4><a href="/ingredientes">Voltar</a></h4>
</body>
</html>
