<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe do item</title>
</head>
<body>
    <h1>informações do item</h1>
    <h2>nome: {{item.nome}}</h2>
    <h2>Preço: {{item.preco}}</h2>

    <a href="/itens">Voltar</a>
</body>
</html>