<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar clientes</title>
</head>
<body>
    <h2>Editar clientes</h2>

    <form action="/clientes/{{cliente.id}}/editar" method="post">
        <input type="text" name="nome" value="{{cliente.nome}}" required>
        <button type="submit">Salvar</button>
    </form>

    <h4><a href="/clientes">Voltar</a></h4>
</body>
</html>