<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Ingredientes</title>
</head>
<body>
    <h1>Ingredientes</h1>

    <nav>
        <a href="/ingredientes">Listar Ingredientes</a>
        <a href="/ingredientes/novo">Cadastrar Ingrediente</a>
    </nav>

    <h4><a href="/">Voltar</a></h4>
</body>
</html>
