<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Incial</title>
</head>
<body>
    <h1>Tela Inicial</h1>
    <nav>
        <a href="/itens">Listar itens</a>
        <a href="/itens/novo">cadastrar novo item</a>
        <a href="homeFuncionario">Funcionários</a>
    </nav>
</body>
</html>