<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela principal</title>
</head>
<body>
    <h1>Cliente</h1>

    <nav>
        <a href="/clientes">Listar Clientes</a>
        <a href="/clientes/novo">cadastrar novo cliente</a>


    <h4><a href="/">Voltar</a></h4>

</body>
</html>
</body>
</html>