<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Itens</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="bg-light">

<div class="container text-center mt-5">

    <h1 class="mb-4">Itens</h1>

    <div class="d-flex flex-column gap-3 col-md-4 mx-auto">

        <a class="btn btn-primary" href="/itens">Listar Itens</a>
        <a class="btn btn-success" href="/itens/novo">Cadastrar Novo Item</a>

    </div>

    <a href="/" class="btn btn-link mt-4">Voltar</a>

</div>

</body>
</html>
