<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela principal</title>
</head>
<body>
    <h1>Itens</h1>

    <nav>
        <a href="/itens">Listar itens</a>
        <a href="/itens/novo">cadastrar novo item</a>


    <h4><a href="/">Voltar</a></h4>

    <!--<a href="/">Itens</a>
    <a href="/homeFuncionários">Funcionários</a>
    <a href="/homeCliente">Cliente</a>!-->
</body>
</html>