<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tela de Funcionários</h1>

    <a href="/funcionarios">Lista de Funcionários</a>
    <a href="/funcionarios/novo">Cadastrar Funcionário</a>
</body>
</html>